@use '../../../../shared/styles/variables.scss' as *;

.recipes {
  padding: 2rem;
  margin-bottom: 150px;

  &__title {
    font-family: $monster-club;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: $primary-color;
    font-weight: normal;
    margin-bottom: 60px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    scroll-snap-type: x mandatory;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
      display: flex;
      overflow-x: auto;
      width: 100%;
    }
  }
}
